@media screen and (max-width:1330px) {
	.tz-l {
		width: 30%
	}
	.tz-2 {
		width: 68%;
		margin-right: 0
	}
	.tz-3 {
		width: 100%;
		margin-top: 20px
	}
	.tz-2-admin {
		width: 100%
	}
	.tz-invo-full {
		padding: 0
	}
	.tz-invo-full1 {
		width: 100%;
		margin: 0
	}
}

@media screen and (max-width:1200px) {
	.ts-menu-2 {
		display: none
	}
	.ts-menu-4 {
		display: none
	}
	.ts-menu-1 {
		width: 15%
	}
	.ts-menu-3 {
		width: 70%;
		padding: 0
	}
	.ts-menu-5 {
		width: 15%;
		float: left
	}
	.ts-menu-5 span i {
		color: #fff;
		padding: 11px;
		background: #01a0d8;
		margin: 10px 9px 9px 30px;
		font-size: 16px;
		cursor: pointer;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .45);
		border-radius: 35px
	}
	.ts-menu-1 a img {
		width: 43px;
		padding: 0;
		margin: 6px 28px
	}
	.v3-mob-top-menu {
		display: block
	}
	.v3-top-menu {
		display: none
	}
	.email-tem-inn {
		width: 100%
	}
}

@media screen and (min-width:1200px) {
	.ts-menu-5 {
		display: none;
		width: 10%
	}
}

@media screen and (max-width:1200px) and (min-width:992px) {
	.dir-ho-t2r {
		padding: 25px 0
	}
}

@media screen and (max-width:1024px) {
	.loacl_service_block ul li {
		width: 48%
	}
}

@media screen and (max-width:992px) {
	.com-padd {
		padding-top: 70px;
		padding-bottom: 0px;
	}
	.mar-bot-red-0 {
		margin-bottom: 0
	}
	.mar-bot-red-m30 {
		margin-bottom: -30px
	}
	.pad-bot-red-40 {
		padding-bottom: 40px
	}
	.hom-pro {
		margin-bottom: 30px
	}
	.dir-ho-com-head {
		padding: 50px 0
	}
	.com-padd-redu-top {
		padding-top: 0
	}
	.com-padd-redu-bot {
		padding-bottom: 0
	}
	.dir-ho-best-list-p1 img {
		height: auto
	}
	.dir-ho-dis {
		font-size: 48px;
		display: block;
		margin-top: 6px;
		padding: 12px
	}
	.dir-rib-bod a {
		display: initial
	}
	.sa-home-spec {
		background: linear-gradient(to bottom, #e8e8e8 50%, #1b2629 50%)
	}
	.dir-ho-t-tit h1 {
		padding-top: 0
	}
	.dir-ho-best-list {
		margin-bottom: 50px
	}
	.dir-ho-best-list-sp-redu {
		margin-bottom: 0
	}
	.dir-ho-t2l form ul {
		border-radius: 0;
		margin-bottom: 50px
	}
	.cbb3-mob-app {
		margin: 0 auto;
		width: 90%
	}
	.dir-alp-con-left {
		padding-right: 0!important
	}
	.dir-alp-r-list {
		padding-bottom: 15px
	}
	.dir-pr-p2-soc {
		float: left;
		padding-bottom: 20px
	}
	.dir-ri-pr-pro-dec-left {
		width: 100%
	}
	.dir-ri-pr-pro-dec-right {
		width: 100%
	}
	.dir-ri-pr-pro-dec-right h3 {
		padding-top: 25px
	}
	.dir-hr1 {
		width: 100%
	}
	.home-list-pop-desc {
		padding-top: 15px
	}
	.lpe-com {
		width: 100%;
		float: left
	}
	.lpe-left {
		padding: 0 0 50px
	}
	.pg-list-1 {
		padding: 100px 0 50px
	}
	.pg-list-1-left {
		width: 100%;
		padding: 0 20px
	}
	.pg-list-1-right {
		width: 100%;
		padding: 0 20px
	}
	.pg-list-1-right-p1 {
		padding-top: 50px
	}
	.list-pg-lt {
		width: 100%;
		float: left
	}
	.list-pg-rt {
		width: 100%;
		float: left;
		padding: 0
	}
	.list-rom-pric {
		top: 10px
	}
	.how-com-mob-bot-space {
		margin-bottom: 35px
	}
	.con-page {
		background: url(../images/con-bg.jpg) no-repeat left center;
		background-attachment: fixed;
		background-size: 64%
	}
	.con-page-ri {
		padding: 70px;
		padding-top: 130px
	}
	.page-blog h3 {
		padding-top: 20px
	}
	.list-spac-1 {
		margin: 0
	}
	.pg-list-user-pro img {
		margin-left: 45%
	}
	.tz {
		padding: 50px;
		padding-top: 100px
	}
	.tz-2-main-1 {
		width: 100%
	}
	.tz-2-main-2 {
		border-right: 0 solid #eaedef;
		padding: 20px;
		text-align: left
	}
	.tz-2-main-com span {
		text-align: left;
		display: block
	}
	.tz-2-main-com img {
		margin: inherit
	}
	.tab-menu {
		display: inline-block;
		color: #fff;
		background: #0e76a8;
		padding: 5px 8px;
		cursor: pointer;
		font-size: 18px;
		border-radius: 2px
	}
	.logo img {
		width: 78%
	}
	.sb1 {
		position: fixed;
		width: 100%;
		top: 0
	}
	.tab-hide {
		display: none
	}
	.sb2-1 {
		width: 240px;
		height: 100%;
		position: fixed;
		top: 0;
		box-shadow: 10px 50px 100px rgba(0, 0, 0, .8);
		z-index: 9999;
		left: -350px;
		overflow: scroll
	}
	.sb2-2 {
		width: 100%;
		padding: 40px;
		margin-left: 0
	}
	.sb1-1 {
		padding: 15px
	}
	.tz-invo-full {
		padding: 0
	}
	.tz-invo-full1 {
		width: 100%;
		margin: 0
	}
	.cat-v2-hom-list ul li {
		width: 33.33%
	}
	.v3-list-ql {
		display: none
	}
	.v4-pril-inn {
		margin-bottom: 35px
	}
	.v4-pril-inn-bot-0 {
		margin-bottom: 0
	}
	.tourz-top-search-form div:nth-child(1) {
		width: 15%
	}
	.tourz-top-search-form div:nth-child(2) {
		width: 62%
	}
	.tourz-top-search-form div:nth-child(3) {
		width: 15%
	}
	.log-in-pop {
		width: 80%
	}
	.cate-search-form div:nth-child(1) {
		width: 100%
	}
	.cate-search-form div:nth-child(2) {
		width: 50%
	}
	.cate-search-form div:nth-child(3) {
		width: 50%
	}
	.cate-search-form div:nth-child(4) {
		width: 100%
	}
	.land-pack {
		width: 100%
	}
	.land-pack ul li {
		width: 50%;
		padding: 15px 15px 5px
	}
	.land-pack-grid {
		width: 100%
	}
	.quic-book-ser-inn {
		width: 85%;
		padding: 0 25px
	}
}

@media screen and (max-width:767px) {
	* {
		box-sizing: border-box
	}
	.close_bt{
		color:#fff;
	}
	.catagories-list-wrapper {
		padding-top: 0;
		display: none
	}
	.cbb3-mob-app {
		margin: 0 auto;
		width: 80%
	}
	.dir-mob-app-size {
		width: 80%!important
	}
	.dir-get-app ul {
		width: 100%;
		padding-left: 0
	}
	.dir-get-app ul li:nth-child(2) {
		width: 80%
	}
	.dir-get-app ul li:nth-child(3) {
		width: 100%
	}
	.dir-get-app ul li:nth-child(1) {
		width: 20%
	}
	.dir-ho-t-tit h1 {
		font-size: 28px
	}
	.dir-ho-tr ul li a {
		font-size: 14px
	}
	.dir-ho-t2l form ul li:nth-child(2) {
		display: none
	}
	.dir-ho-t2l form ul li:nth-child(1) {
		width: 75%
	}
	.dir-ho-t2l form ul li:nth-child(3) {
		width: 25%
	}
	.dir-v2-ho-t2l form ul li:nth-child(1) {
		width: 80%
	}
	.dir-v2-ho-t2l form ul li:nth-child(2) {
		width: 20%;
		display: block
	}
	.dir-ho-t-sp {
		padding: 100px 0 200px
	}
	.dir-hr1 {
		text-align: center;
		width: 90%;
		display: block
	}
	.dir-pr-p1-rev {
		float: left;
		margin-top: 25px
	}
	.dir-pr-p1 ul li {
		width: 100%!important
	}
	.dir-pr-p1 ul {
		padding-bottom: 20px
	}
	.dir-pr-p2 ul li {
		padding: 10px 10px 10px 35px
	}
	.dir-pr-ri-pro {
		margin-bottom: 25px
	}
	.dir-ho-tr {
		display: none
	}
	.dir-ho-tl ul {
		display: table;
		margin: 0 auto
	}
	.dir-ho-tl {
		padding-top: 35px
	}
	.hom-pro {
		margin-bottom: 30px
	}
	.sea-drop-1 {
		width: 96%
	}
	.ts-menu-5 span i {
		margin: 11px
	}
	.top-search form ul li:nth-child(1) {
		width: 80%
	}
	.top-search form ul li:nth-child(2) {
		width: 20%
	}
	.ts-menu-1 a img {
		width: 40px;
		margin: 10px;
		display: table;
		margin-left: auto
	}
	.lpe-com-main {
		width: 90%;
		padding: 50px 0
	}
	.list-enqu-btn ul li {
		width: 50%
	}
	.list-number ul li {
		width: 100%
	}
	.carousel {
		height: auto
	}
	.lp-ur-all-left {
		width: 100%;
		border-right: 0 solid #6b7f8a;
		padding-right: 0
	}
	.lp-ur-all-right {
		float: left;
		width: 100%;
		padding: 25px 20px 2px 0
	}
	.lp-ur-all-right p span {
		font-size: 20px;
		margin-right: 10px
	}
	.page-about-count {
		border-bottom: 1px solid #3e5263;
		border-right: 0 solid #3e5263;
		padding-bottom: 20px;
		padding-top: 12px
	}
	.page-about-count-no-bor {
		border-bottom: 0 solid #3e5263;
		padding-bottom: 10px
	}
	.con-page-ri {
		width: 100%;
		padding: 50px;
		padding-top: 100px
	}
	.pricing {
		margin-top: 30px
	}
	footer h4 {
		margin-top: 24px
	}
	.foot-sec2 {
		padding-top: 0
	}
	.dir-pop-body form {
		padding: 30px 30px 25px
	}
	.dir-pop-body {
		padding: 35px 30px 20px!important;
		border-bottom: 10px solid #263b57
	}
	.tz {
		padding: 25px;
		padding-top: 100px
	}
	.tz-l {
		width: 100%
	}
	.tz-2 {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		margin-top: 20px
	}
	.tz-3 {
		width: 100%;
		margin-top: 20px
	}
	.mob-hide {
		display: none
	}
	.sb1-1 {
		padding: 10px 15px
	}
	.hom-cre-acc-right form {
		padding: 12px 25px
	}
	.tz-regi-form {
		width: 85%;
		padding: 40px;
		margin-bottom: 50px;
		margin-top: 50px
	}
	.tz-invo-full {
		padding: 0
	}
	.tz-invo-full1 {
		width: 100%;
		margin: 0
	}
	.cat-v2-hom-list ul li {
		width: 50%
	}
	.v3-mob-m-2 ul li:nth-child(1) {
		display: none
	}
	.v3-mob-m-2 ul li:nth-child(2) {
		display: none
	}
	.tourz-search-form div:nth-child(1) {
		width: 100%
	}
	.tourz-search-form div:nth-child(2) {
		width: 100%
	}
	.tourz-search-form div:nth-child(3) {
		width: 100%
	}
	.tourz-search-form div {
		margin-bottom: 15px
	}
	.tourz-top-search-form div:nth-child(1) {
		display: none
	}
	.tourz-top-search-form div:nth-child(2) {
		width: 100%
	}
	.tourz-top-search-form div:nth-child(3) {
		display: none
	}
	.log-in-pop-left {
		display: none
	}
	.log-in-pop-right {
		width: 100%
	}
	.quic-book-ser-left {
		width: 100%
	}
	.quic-book-ser-right {
		width: 100%;
		padding-left: 0;
		margin-top: 40px
	}
	.country-row .country a {
		font-size: 15px;
		font-weight: 500
	}
	.country-row .country {
		text-align: center
	}
	.countries_bg {
		padding: 34px 0
	}
	.countries_bg p {
		font-size: 16px
	}
	.desk-filter {
		display: none
	}
	.filter-mob {
		display: block
	}
	.bottomMenu {
		z-index: 999
	}
	.filter-mob {
		position: fixed;
		background: #fff57d;
		width: 100%;
		z-index: 99;
		text-align: center;
		font-size: 12px;
		top: 59px;
		color: #fff
	}
	.filter-mob h4 {
		font-size: 15px;
		padding: 12px 0 10px;
		font-weight: 400;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000
	}
	.filter-mob h4 span {
		color: #000
	}
	.dir-alp-tit h1 {
		padding-top: 105px
	}
	.filter-mob-view {
		margin-top: 45px;
		position: fixed;
		z-index: 9;
		background: #fff;
		left: 0;
		top: 0;
		overflow-y: auto;
		height: 100%;
		padding: 70px 50px 50px;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		display: none
	}
	.filter-mob-view .filt-com {
		float: left;
		margin-bottom: 25px;
		width: 100%
	}
	.filter-mob-view .chbox label {
		padding-left: 30px;
		cursor: pointer;
		font-weight: 500;
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: normal;
		overflow: hidden;
		position: relative;
		width: 100%;
		line-height: 24px;
		margin-bottom: 1px
	}
	.filter-mob-view .filt-com h4 {
		font-size: 15px;
		color: #3c4043;
		margin-bottom: 12px;
		font-weight: 600
	}
	.filter-mob-view .lhs-cate .dropdown select {
		background: #e8eaed;
		border: 0;
		font-size: 15px;
		padding: 12px 18px;
		color: #0a0a0b;
		width: 100%;
		border-radius: 5px;
		font-weight: 500;
		display: block;
		color: #000;
		height: 47px
	}
	.filter-mob-view .caret,
	.filter-mob-view .select-wrapper input.select-dropdown {
		display: none
	}
	.filter-mob-view .pmenu-sear form input {
		width: 100%;
		border: 0;
		border-bottom: 1px solid #e3dbdb;
		text-align: left;
		padding-bottom: 6px;
		font-size: 15px;
		font-weight: 300
	}
	.filter-mob-view .pmenu-sear {
		padding: 20px 0 0
	}
	.filter-mob-view .pmenu-sear form input::placeholder {
		color: #000
	}
	.rate_rt {
		display: block;
		padding: 5px 0
	}
	.search-franchise .search-row {
		flex-direction: column
	}
	.search-franchise .search-row .col {
		width: 100%;
		margin: 0 0 15px
	}
	.departments-row .department {
		margin: 0 0 30px;
		padding: 0
	}
	.departments-row .departmentIcon {
		padding: 0
	}
	.departments-row .departmentName {
		padding-right: 0
	}
	.loacl_service_block ul li {
		width: 100%
	}
	.catagories-list .owl-carousel {
		z-index: 9
	}
	ul.cata_mn li {
		padding: 6px 22px
	}
	.catagories-list .owl-carousel .next-slide {
		right: 5px
	}
	.catagories-list .owl-carousel .prev-slide {
		left: 5px
	}
	.cities_districts,
	.footer_services {
		display: none
	}
	.mobile_v .bottom_wrap .list-enqu-btn ul li {
		text-align: center
	}
	.mobile_btn {
		display: block
	}
	.desktop_btn {
		display: none
	}
	.online_order ul li {
		width: auto
	}
	.online_order ul li img {
		width: 25px!important
	}
	.online_order ul li:nth-child(1) {
		padding: 0
	}
	.mobile_v .online_order ul li img {
		width: 24px!important
	}
	.mobile_v .online_order ul li:nth-child(1) {
		font-size: 12px;
		margin: 0 3px 0 0;
		top: 2px
	}
	.mobile_v .online_order ul li a {
		font-size: 11px
	}
	.online_order ul li {
		margin: 0 6px 0 0
	}
	.city_listing {
		width: 50%;
		float: left;
		height: 18vh;
	}
	.city_listing:last-child {
		display: none
	}
	.city_listing p {
		display: none
	}
	.city_listing .list-mig-lc-con {
		margin: 0;
		bottom: 8px;
		left: 10px;
		margin: 0
	}
	.quic-book-ser-inn {
		width: 90%
	}
	.dir-hli-2 h4, .land-pack-grid-text h4 {
		font-size: 13px
	}
	.trading_city .image_wrap {
		padding: 0
	}
	.trading_city .home-list-pop-desc p {
		display: none
	}
	.trading_city .hom-list-share {
		display: none
	}
	.trading_city .home-list-pop-desc h3 {
		font-size: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden
	}
	.trading_city .home-list-pop-desc h4 {
		font-size: 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden
	}
	.trading_city .home_rating {
		right: 5px;
		top: -109px
	}
	.trading_city .home-list-pop {
		margin-bottom: 13px
	}
	.sm_vr .list-spac {
		min-height: auto
	}
	.mobile_contact_icon .mobile_btn {
		padding: 0
	}
	.city_listing .list-mig-like-com {
		min-height: 107px
	}
	.findyour_service {
		padding: 20px 0 0
	}
	.top_attraction,
	.trading_for {
		padding: 20px 0 0
	}
	.right_customers {
		padding-top: 0
	}
	.bottomMenu {
		height: auto
	}
}

@media screen and (max-width:767px) {
	.get_direction {
		display: none
	}
	.mobile_contact_icon {
		padding: 0
	}
	.web-app {
		background: 0 0
	}
	.mobile_btn ul.contact_btn {
		text-align: center
	}
	.mobile_btn ul.contact_btn li {
		display: inline-block;
		text-align: center;
		color: #fff;
		width: auto;
		font-size: 10px;
		/*float: none;*/
		margin: 0 4px 0 0
	}
	.mobile_btn ul.contact_btn li:last-child {
		margin-right: 0
	}
	.mobile_btn ul.contact_btn li a {
		background: 0 0;
		color: #fff;
		border-radius: 100%;
		width: 55px;
		height: 55px;
		display: block;
		margin: 0 auto
	}
	.mobile_btn ul.contact_btn li a i {
		line-height: 29px;
		display: block
	}
	.mobile_btn ul.contact_btn li:last-child a {
		border: 2px solid #00BCD4
	}
	.mobile_btn ul.contact_btn li:first-child a {
		border: 2px solid #fff
	}
	.mobile_btn ul.contact_btn li a.whatsapp_listing {
		border: 2px solid #34af23!important;
		background: 0 0!important
	}
	.mobile_btn ul.contact_btn li i {
		margin: 0!important;
		font-size: 20px
	}
	.mobile_btn ul.contact_btn li.whatsapp,
	.mobile_btn ul.contact_btn li.whatsapp i {
		color: #34af23
	}
	.mobile_btn ul.contact_btn li.call_now,
	.mobile_btn ul.contact_btn li.call_now i {
		color: #dc2e21
	}
	.mobile_btn ul.contact_btn li i {
		line-height: 34px
	}
	.grider_menu_desktop {
		display: none
	}
	.grider_menu_mobile {
		display: block
	}
	.grider_menu_mobile ul {
		text-align: center
	}
	.grider_menu_mobile ul li {
		display: inline-block;
		text-align: center;
		color: #000;
		width: auto;
		font-size: 10px;
		float: none;
		margin: 0 13px 0 0;
		width: auto!important
	}
	.grider_menu_mobile ul li a {
		background: 0 0!important;
		color: #fff;
		border-radius: 100%;
		width: 48px;
		height: 48px;
		line-height: 37px;
		display: block;
		margin: 0 auto;
		border: 1px solid #535353
	}
	.grider_menu_mobile ul li a i {
		color: #000;
		margin-right: 0!important;
		line-height: 35px
	}
	.grider_menu_mobile ul li a.whatsapp_listing {
		border: 1px solid #34af23!important;
		background: 0 0!important
	}
	.grider_menu_mobile a.call_now {
		border: 1px solid #dc2e21!important;
		background: 0 0!important
	}
	.grider_menu_mobile ul li a.whatsapp_listing,
	.grider_menu_mobile ul li a.whatsapp_listing i,
	.grider_menu_mobile ul li.whatsapp {
		color: #34af23!important
	}
	.grider_menu_mobile ul li.call_now,
	.grider_menu_mobile ul li.call_now i {
		color: #dc2e21
	}
	.mobile_add_header .row {
		margin-right: 0;
		margin-left: 0
	}
	ul.Services_Offered {
		text-align: center
	}
	ul.Services_Offered li {
		display: inline-block;
		width: 32%
	}
	ul.Services_Offered li .pg-list-ser-p1 {
		border-radius: 4px
	}
	ul.Services_Offered li h4 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 12px;
		padding: 0 5px
	}
	ul.Services_Offered li .pg-list-ser-p2 {
		margin-top: -24px
	}
	.mobile_v {
		min-height: auto
	}
	.land-pack ul {
		text-align: center
	}
	.land-pack ul li {
		display: inline-block;
		width: 48%!important;
		float: none
	}
	.land-pack-grid-img img {
		height: 15vh;
	}
	.land-pack ul li:last-child {
		display: none
	}
	ul.find_services {
		text-align: center
	}
	ul.find_services li {
		display: inline-block;
		width: 48%!important;
		float: none
	}
	ul.find_services li .dir-hli-2 span.dir-ho-cat {
		display: none
	}
	.popular_service_mob {
		display: block;
		padding: 8px 0 0
	}
	.popular_service_mob{
		position: fixed;
		bottom: 0;
		z-index: 99999;
		background: #fff;
		width: 100%;
	}
	.popular_service_mob.hide_div{
		        display:none;
	}
	.popular_service_mob h5 {
		padding-bottom: 12px;
		font-size: 18px
	}
	.popular_service_mob ul {
		display: block;
		text-align: center
	}
	.popular_service_mob ul li {
		margin: 0;
		overflow: hidden;
		text-align: center;
		display: inline-block;
		width: 19%;
		vertical-align: top;
	}
	.popular_service_mob .ts-menu-7 span i {
		color: #fff;
		padding: 6px;
		background: #01a0d8;
		margin: 0 0 4px;
		font-size: 16px;
		cursor: pointer;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .45);
		border-radius: 35px
	}
	.popular_service_mob .ts-menu-7 h6 {
		font-size: 11px;
		font-weight: 600;
		padding: 0;
		margin: 0
	}
	.popular_service_mob ul li .ts-menu-7 {
		width: auto;
		float: none
	}
	.popular_service_mob ul li img {
		width: 25px!important;
		margin: 0 auto;
		display: block
	}
	.popular_service_mob ul li a {
		color: #000;
		font-weight: 600;
		font-size: 11px;
		display: block;
		position: relative
	}
	.popular_service_mob ul li a i {
		position: absolute;
		right: 0
	}
	.service_popup {
		display: none;
		position: fixed;
		z-index: 9999999;
		top: 0;
		left: 0;
		background: #fff;
		width: 100%
	}
	.service_popup .top_part {
		background: #0049ce;
		color: #fff;
		padding: 10px;
		font-size: 15px
	}
	.service_popup .top_part i {
		font-size: 17px;
		padding: 0 5px 0 0
	}
	.service_popup_list {
		overflow: auto
	}
	.service_popup_list ul {
		text-align: left;
		padding: 30px 0 0
	}
	.service_popup_list ul li {
		display: inline-block;
		text-align: center;
		width: 32%;
		margin: 0 0 33px
	}
	.service_popup_list ul li span {
		font-size: 11px;
		font-weight: 600;
		color: #000
	}
	.service_popup_list ul li img {
		display: block;
		margin: 0 auto
	}
	.service_popup_list ul li img,
	.service_popup_list ul li span {
		display: block
	}
	.mobile_business_ad {
		display: block;
		background: #fff;
		padding: 10px 5px;
		overflow: hidden
	}
	.mobile_business_ad p {
		float: left;
		margin: 0;
		font-size: 14px;
		padding: 3px 0 0;
		color: #000
	}
	.mobile_business_ad a {
		float: right;
		display: inline-block;
		background: #ff5e00;
		color: #fff;
		font-size: 12px;
		padding: 4px 8px
	}
	.top-menu-down {
		top: 0!important
	}
	.hom3-top-menu {
		top: -120px
	}
	.dir-il-top-fix .mobile_business_ad {
		display: none
	}
	#add_popup .req-pop-rhs {
		height: auto!important;
		padding: 20px
	}
	#add_popup .req-pop-in {
		margin-top: 50%;
		height: auto!important
	}
	#add_popup ul {
		margin: 0
	}
	#add_popup ul li:first-child {
		border-bottom: gray solid 1px
	}
	#add_popup ul li a {
		color: #000;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
		padding: 15px 0;
		display: inline-block
	}
	.copy p:last-child {
		padding: 0
	}
	/*.indexSearchAd{*/
	/*	display:none;*/
	/*}*/
}

@media screen and (max-width:480px) {
	.l_show_rate_l img {
		width: 100%
	}
	.l_scroll {
		height: 230px;
		overflow: auto;
		width: 100%;
		position: relative!important
	}
	.affix {
		top: 0!important;
		position: relative!important
	}
	.f_sub_mail {
		width: 100%
	}
	.f_sub_sub {
		margin-top: 10px;
		width: 100%
	}
	.dir-ho-tr ul li a {
		font-size: 12px!important;
		padding: 7px 5px
	}
	.dir-ho-t2l form ul li:nth-child(1) {
		width: 100%!important
	}
	.dir-ho-t2l form ul li:nth-child(3) {
		width: 100%!important
	}
	.dir-v2-ho-t2l form ul li:nth-child(2) {
		width: 100%
	}
	.dir-hpb ul li {
		width: 100%
	}
	.list-enqu-btn ul li {
		width: 100%
	}
	.lr-user-wr-con {
		width: 85%
	}
	.soc-login ul li {
		width: 100%
	}
	.cat-v2-hom-list ul li {
		width: 100%
	}
	.land-pack ul li {
		width: 100%
	}
	.land-pack-grid {
		background: 0 0
	}
}

@media screen and (min-width:767px) {
	.hasimg img {
		width: 100%
	}
}